body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #93af4c;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--white-shade);
  background: linear-gradient(250deg, #dda15e 0%, #d08835d5.50%, #ec8612 75%);
}

.container h1 {
  font-size: 90px;
  line-height: 1;
  color: var(--white-shade);
  margin: 0 0 35px;
}

.container h2 {
  font-size: 50px;
  line-height: 1;
  color: var(--white-shade);
  margin: 0 0 25px;
}

.section {
  margin: 10px 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  flex: 1 1 30%;
  max-width: 200px;
  margin: 10px;
  text-align: center;
}

.member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.member h3 {
  margin: 10px 0 5px 0;
}

.member p {
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px; 
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.card {
  align-items: center; 
  border: 1px solid black;
  border-radius: 10px; 
  box-shadow: 5px 5px 5px rgba(58, 38, 0, 0.438);
  padding: 20px;
  text-align: center;
  width: 250px;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.card .card-image {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  color: rgba(14, 13, 13, 0.719);
  
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: rgba(99, 97, 97, 0.87);
  text-align: center;

}

.card .link-text {
  font-family: Arial, sans-serif;
  color: rgba(99, 97, 97, 0.87);
  text-align: center;

}

