* {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  --orange-color: #dda15e;
  --white-shade: #fefae0;
  --green-color: #4e504a;
  --dark-green: #283618;
  box-sizing: border-box;
}

.reviews-container {
  min-width: 100%;
  padding: 20px 20px 30px;
  background-color: var(--dark-green);
}

.reviews {
  color: var(--white-shade);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.first-line {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.three-icons {
  align-self: flex-end;
  margin-top: auto;
  display: flex;
}

.insta {
  margin-right: 3px;
}

.three-icons svg {
  height: 20px;
  width: 30px;
  fill: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 10px;
  gap: 20px;
}

.card {
  background-color: var(--white-shade);
  width: 220px;
  height: 180px;
  border-radius: 10px;
  border-left: 8px solid var(--orange-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 13px;
  padding-bottom: 20px;
}

.words {
  text-align: center;
}
