.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(38, 94%, 43%, 0.886);
}

.signup-container {
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.signup-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.signup-container h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

.signup-container h2 {
    font-size: 1.8em;
    color: #666;
    margin-bottom: 20px;
    animation: fadeIn 1.2s ease-in-out;
}

.signup-container p {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
    line-height: 1.6;
    animation: fadeIn 1.4s ease-in-out;
}

.signup-container br {
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form input,
.sign-up-form button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    transition: border 0.3s, box-shadow 0.3s;
}

.sign-up-form input:focus,
.sign-up-form button:focus {
    border-color: #28a745;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.2);
    outline: none;
}

.sign-up-form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.sign-up-form button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.sign-up-form input {
    background-color: #f9f9f9;
}

.sign-up-form input::placeholder {
    color: #aaa;
}

.sign-up-form input:hover {
    background-color: #f1f1f1;
}
