


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 10px;
  
  
}

.image-container {
  position: relative;
  display: inline-block;
}

.tummy {
  display: block;
  width: 100%;
  height: auto;
  border-width: 3px;
  border-style: solid;
  border-radius: 35%;
  border-color: purple;
}

.counter-overlay {
  /* position: absolute;
  top: 80%;
  left: 50%; */
  z-index: 10;
  margin-top: 38%;
  color: white;

  border-radius: 5px;
}

#thing {
  color: blue;
  font-weight: bolder;
  display: absolute;
  justify-content: right;
  font-size: 5em;

}
 h3 {
  color: blue;
 }

.app-container {
  min-width: 500px;
border-color: blueviolet;
border-width: 3px;
border-style: dotted;
}

/* #vegetables {
  color: blue;
  margin: 10px;
} */

/* counter\src\assets\image.jpg */