Python file set up 
•	CD into backend folder: cd {type location of your file}
•	Run: .\venv\Scripts\activate
•	Run: pip install flask-cors
•	Run: pip install requests
•	Run: pip install mysql-connector-python
•	Run: pip install bcrypt
•	Run: python app.py


Input your SQL password into db_utils.py
Input API keys into app.py


React file set up
•	CD into frontend / main folder: cd {type location of your file}
•	Run: npm install
•	Run: npm i react-router-dom --save styled-components
•	Run: npm start

